version: "3.9"

services:
  5TWIN5-G4-KADDEMM:
    container_name: KADDEMMM
    ports:
      - "8089:8089"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db-mysql:3306/kaddem\db?createDatabaseIfNotExist=true&useSSL=false&max_allowed_packet=15728640&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    image: "farahjerbi/farahjerbi-5twin5-g4-kaddemm"
    restart: unless-stopped
    depends_on:
      - db-mysql

  db-mysql:
    image: "mysql:latest"
    container_name: db-myyssqll
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3307:3306"
    restart: unless-stopped
